parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    google_secret_code: rgcdachaLlKBnzm5Dzi4u2Qf
    google_app_id: 514630618263-luu831pb8r88jn69rh7ficbuvsiuea7o.apps.googleusercontent.com
