<html>
<head>
    {% include "NfqAkademijaAdsBundle:Default:stylesheets.html.twig" %}
</head>
<body>
	{{ form(form) }}
	
	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
	<br /><a href="{{ url('nfq_akademija_ads_listAll') }}">My Campaigns</a>

    <br /><a href="{{ url('nfq_akademija_ads_profile') }}">Profile</a><br />
    <a href="{{ url('logout') }}">Logout</a><br />
{% endif %}
</body>
</html>
