<html>
<head>
    {% include "NfqAkademijaAdsBundle:Default:stylesheets.html.twig" %}
</head>
<body>
Hello<br />

{% if is_granted('IS_AUTHENTICATED_FULLY') %}
	<br /><a href="{{ url('nfq_akademija_ads_campaign') }}">My Campaigns</a>

    <br /><a href="{{ url('nfq_akademija_ads_profile') }}">Profile</a><br />
    <a href="{{ url('logout') }}">Logout</a><br />
{% else %}
    <br /><a href="{{ url('hwi_oauth_connect') }}">Login</a>
{% endif %}
</body>
</html>
