<html>
<head>

</head>
<body>
Hello

{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <br /><a href="{{ url('nfq_akademija_ads_profile') }}">Profile</a><br />
    <a href="{{ url('logout') }}">Logout</a><br />
{% else %}
    <br /><a href="{{ url('hwi_oauth_connect') }}">Login</a>
{% endif %}
</body>
</html>
