<html>
<head>

</head>
<body>
Hello User, {{ user.realname }}.
This is your profile.<br />

DEV: protected area<br /><br/>
<a href="{{ url('nfq_akademija_ads_homepage') }}">Home</a><br />
<a href="{{ url('logout') }}">Logout</a>

</body>
</html>
