<html>
<head>
    {% include "NfqAkademijaAdsBundle:Default:stylesheets.html.twig" %}
</head>
<body>
Hello {{ user.realname }}. {{ user.id }}<br />
This is your profile.<br />

DEV: protected area<br /><br/>
<a href="{{ url('nfq_akademija_ads_homepage') }}">Home</a><br />
<a href="{{ url('logout') }}">Logout</a>

</body>
</html>
